# MongoDB Credentials
MONGODB_USER=addisonuser
MONGODB_PASSWORD=addisonpassword
MONGODB_HOST=fishbook-cluster.c05pr.mongodb.net
MONGODB_DATABASE=fishbook-database

# JWT Authentication
JWT_SECRET=addisonkey